@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

body{
    text-align: center;
    align-self: center;
    align-content: center;
   
}

header{
    text-align:center;
    font-size:50px;
    width: 100%;
    font-family:Poppins;
    font-weight: 700;
    margin-bottom: 3%;
}

input[type="text"]{
    border-color: transparent;
    text-align: center;
    font-family:"Quicksand";
    
}

th{
    font-family: "Quicksand";
}

::selection{
    background-color: coral;
    color:white;
}

#StoreTable{
    visibility: hidden;
}

#StoreTable input{
    width:300px;
}

textarea{
    width: 70%;
}
#Table{
    visibility: visible;
   }

#addBTN{
    
     
    font-family: Poppins;
    height: 40px;
    width: 130px;
    border: 0px solid black;
    background-color: rgb(67, 44, 236);
    border-radius: 3px;
    color: white;
    font-size: 18px;
   
}



#allData{
    visibility: hidden;
}

#allData button{
    background-color: red;
    color: white;
    font-family: 'Poppins';
    border-color: transparent;
    border-radius: 2px;
    height:fit-content;
    width:fit-content;
}

header label{
    float:right;
    right: 40px;
    top: 0px;
    position: absolute;
   
}

header i{
    font-size: 28px;
    font-family: 'Poppins';
    font-weight: 10;
}

#storeAddBTN{
    display: none;
    font-family: Poppins;
    height: 40px;
    margin-left: 43.5%;
    width:100px;
    border: 0px solid black;
    background-color: rgb(67, 44, 236);
    border-radius: 3px;
    color: white;
    font-size: 18px;
   
}

